.text-18{
    font-size: 18px;
}
.text-33 {
    font-size: 33px; 
}
.text-14{
    font-size: 14px;
}
.text-15{
    font-size: 15px;
}
.text-13{
    font-size: 13px;
}
.text-17{
    font-size: 17px;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-900{
    font-weight: 900;
}
.text-content{
    color: #959FA8;
}
.text-title{
    color: #172C41;
}
.text-profile{
    color:#2DCC70;
}
.text-banner{
    color: #007330;
}
.text-input{
    color: #C4C4C4;
}